<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{appNameTemp ? appNameTemp : 'notFound'}}</span>

    <span class="example-spacer"></span>

    <ul>
      <li><a class="" routerLink="/signin">Login</a></li>
      <li><a class="" routerLink="/signup">Register</a></li>
    </ul>
    <!--<button mat-button><a class="" routerLink="/signup">Register</a></button>-->
    <!--<button mat-button>Services</button>-->
    <!--<button mat-button>Contact</button>-->
  </mat-toolbar-row>
</mat-toolbar>
