$gutter: 20px

.content
  display: flex
  justify-content: center
  align-items: center
  height: 100%

.flex-container,
.flex-item
  display: flex
  padding: $gutter/2
  flex: 1
  justify-content: center
  align-items: center

